<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/main.css" rel="stylesheet">
    <title>Server Manager</title>
</head>
<body>
    <div id="sidebar" class="sidebar">
        <h1 class="fs-2 bg-light-grey text-center py-1">Saved Configs</h1>
    </div>
    <div id="main" class="main">
        <div class="main-content">
            <form id="server-config">
                <h4 class="h4-style">Database Configuration</h4>
                <div class="equal-column-container p-1">
                    <div class="input-column-container p-1">
                        <label for="db-username" class="label-center fs-1">Username</label>
                        <input type="text" id="db-username" name="db-username" placeholder="Enter DB username" class="p-1 my-1 text-input fs-input">
                    </div>
                    <div class="input-column-container p-1">
                        <label for="db-password" class="label-center fs-1">Password</label>
                        <input type="text" id="db-password" name="db-password" placeholder="Enter DB password" class="p-1 my-1 text-input fs-input">
                    </div>
                </div>
                <div>
                    <h4 class="h4-style">Site Configuration</h4>
                </div>
                <div class="equal-column-container p-1">
                    <div class="input-column-container p-1">
                        <label for="sitename" class="label-center fs-1">Sitename</label>
                        <input type="text" id="sitename" name="sitename" placeholder="Site" class="p-1 my-1 text-input fs-input">
                    </div>
                    <div class="input-column-container p-1">
                        <label for="port" class="label-center fs-1">Port</label>
                        <input type="text" id="port" name="port" placeholder="Port" class="p-1 my-1 text-input fs-input">
                    </div>
                </div>
                <div class="equal-column-container p-1">
                    <div class="input-column-container p-1">
                        <label for="admin-username" class="label-center fs-1">Username</label>
                        <input type="text" id="admin-username" name="admin-username" placeholder="Username" class="p-1 my-1 text-input fs-input">
                    </div>
                    <div class="input-column-container p-1">
                        <label for="admin-password" class="label-center fs-1">Password</label>
                        <input type="text" id="admin-password" name="admin-password" placeholder="Password" class="p-1 my-1 text-input fs-input">
                    </div>
                </div>
                <div class="p-1">
                    <div class="p-1 mb-1">
                        <label for="upload-key" class="fs-1 mb-1">Upload Key</label>
                        <input type="text" id="upload-key" name="upload-key" placeholder="Upload Key" class="p-1 text-input full-width-input fs-input">
                    </div>
                    <div class="p-1 mb-1">
                        <label for="remote-repo" class="fs-1 mb-1">Remote Repo</label>
                        <input type="text" id="remote-repo" name="remote-repo" placeholder="URL" class="p-1 text-input full-width-input fs-input">
                    </div>
                    <div class="p-1 mb-1">
                        <label for="local-path" class="fs-1 mb-1">Local Path</label>
                        <input type="text" id="local-path" name="local-path" placeholder="Directory Path" class="p-1 text-input full-width-input fs-input">
                    </div>
                    <div id="buttons" class="p-1 mb-1">
                        <input type="reset" value="Clear Form" class="p-1">
                        <input type="button" value="Shutdown Server" class="p-1">
                        <input type="submit" value="Run Server" class="p-1 bg-green">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script src="../dist/src/script.js"></script>
</html>